# Copyright (C) 2026 Maxim [maxirmx] Samsonov ([www.sw.consulting](http://www.sw.consulting))
# All rights reserved.
#

SW_CONSULTING_EDGE_NETWORK=sw-consulting-edge
SW_CONSULTING_EDGE_CERTIFICATE_DIR=/srv/sw-consulting-edge/certificate
